.venv/
.vscode/
src/utils/__pycache__/
src/__pycache__/
missions
events
coverage_grids
grwl_files
rain_data/
plotting_data/
clouds/
missions/het_experiment*
events/het_experiment*
coverage_grids/het_experiment*
*.png