alabaster==0.7.13
astropy==5.2.2
Babel==2.12.1
basemap==1.3.8
basemap-data==1.3.2
boto3==1.28.36
botocore==1.31.36
Cartopy==0.21.1
certifi==2023.7.22
cftime==1.6.2
charset-normalizer==3.2.0
contourpy==1.1.0
cycler==0.11.0
deepdiff==6.3.1
docutils==0.16
fonttools==4.42.0
goespy==0.2.1
h5py==3.9.0
idna==3.4
imageio==2.31.1
imagesize==1.4.1
importlib-metadata==6.8.0
importlib-resources==6.0.1
-e git+https://github.com/EarthObservationSimulator/instrupy@d7bda8f7ae3a50812d9f380a61a74f2eccbd4d6a#egg=InstruPy&subdirectory=../../instrupy
Jinja2==3.1.2
jmespath==1.0.1
kiwisolver==1.4.4
lowtran==2.4.1
MarkupSafe==2.1.3
matplotlib==3.7.2
MetPy==1.5.1
netCDF4==1.6.4
networkx==3.1
numpy==1.24.4
-e git+https://github.com/EarthObservationSimulator/orbitpy@0657971d7b04dcfe77f79696925c24f5d62fb35a#egg=OrbitPy&subdirectory=../../orbitpy
ordered-set==4.1.0
packaging==23.1
pandas==2.0.3
pathlib==1.0.1
Pillow==10.0.0
Pint==0.21.1
platformdirs==3.10.0
pooch==1.7.0
propcov @ file:///home/ben/repos/satplan/orbitpy/propcov
pydot==1.4.2
pyerfa==2.0.0.3
Pygments==2.16.1
pyparsing==3.0.9
pyproj==3.5.0
pyshp==2.3.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
s3transfer==0.6.2
scipy==1.10.1
shapely==2.0.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tqdm==4.66.1
traitlets==5.9.0
tzdata==2023.3
urllib3==1.26.16
wmm2020==1.1.1
xarray==2023.1.0
zipp==3.16.2
